:root {
  --calculator-color-orange: rgba(253, 163, 54, .95);
  --calculator-color-gray: rgba(103, 104, 101, .95);
  --calculator-color-black: rgba(73, 74, 70, .95);
  --calculator-color-blacker: rgba(50, 50, 50, .95);
}
